<!-- Gallery -->
<div id="$" class="card-Photo " >
   
         <div class="slider">
            <figure id="fig">
                <div class="slide">
                    <img  src="../../../../assets/image/IMG_0446.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../../../assets/image/IMG_9265.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../../../assets/image/IMG_9277.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../../../assets/image/IMG_9292.jpg" alt="">
                </div>
                <div class="slide">
                    <img src="../../../../assets/image/IMG_9300.jpg" alt="">
                </div>
            </figure>
            
    
        <div></div>
        <div id="next">Next</div>
    </div> 
<!--      
  
      */<div id="img3"class="col-lg-2 col-md-4 mb-4">
       
         <img
          src="../../../../assets/image/IMG_9292.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
      
  
      <div id="img4"class="col-lg-2 col-md-4 mb-4">
        <img 
        src="../../../../assets/image/IMG_9277.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
        <img 
          src="../../../../assets/image/IMG_9300.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
     
      <div id="img2" class="col-lg-2 col-md-4 mb-4">
       
  
        <img 
          src="../../../../assets/image/IMG_9265.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </div>
    -->
    
    </div>

  