

.card-phto{
    background-color: rgb(16, 15, 15);
   
}
        
        
        
   

#photo{
    border :2px solid rgb(253, 0, 0);
    margin: auto;
  
}
img{
    height: 70vh;
    width: 80vh;
}