  <nav class="navbar navbar-expand-lg">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPillsExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand  " href="#">
        <img [width]="90" class="    " src="../../../../assets/image/logo.png" />
        Tamaël Création
      </a>
      <div class="collapse navbar-collapse" id="navbarPillsExample">
        <ul class="navbar-nav navbar-nav-pills">
          <li class="nav-item">
            <a class="nav-link" href="des">Description</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Team</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle active" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Service proposé</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#visu">Visuel Entreprise</a></li>
              <li><a class="dropdown-item" href="#$">Photographie</a></li>
              <li><a class="dropdown-item" href="#des">Conception Site internet</a></li>
              <li><a class="dropdown-item" href="#des">Personnalisation d'objet</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Formule</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>