.navbar-nav-scroll
{
 height: 75vh;
 overflow-y: auto;
}
.navbar{
    background-color: #c7eef7 ;
    font-size: 40px;
    
}
*{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 30px;
}