<!-- Gallery -->

  
    <div id="Did">
      <span id="des-photo" class="   position-absolute text-center  " style="height: 700px; width: 1000px ">
         <p id="titre" class="text-decoration-underline  "> Département Photographie </p>
        <p>Découvrez nos services de photographie chez Tamaël Création !
        Nous capturons les moments spéciaux de votre vie avec une touche artistique et professionnelle.
        <p>Que ce soit pour des reportages divers, des événements comme les mariages, ou des séances en studio, notre équipe expérimentée saura immortaliser vos souvenirs de manière authentique et émouvante.</p>
       <p> Faites confiance à notre savoir-faire pour des images qui vous ressemblent et qui vous permettront de revivre ces instants uniques encore et encore.</p>
      </span>


     
      
      
      <div class="row bg-dark-subtle p-10  ">
        <div class="col-lg-4 col-md-12 mb-4 mb-lg-0 mt-5 opacity-50 ">
          
          <img  src="../../../../assets/image/IMG_0446.jpg" 
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
          
          <img src="../../../../assets/image/IMG_9292.jpg"
          class="w-100 shadow-1-strong rounded mb-4" alt="">
          <img src="../../../../assets/image/IMG_9265.jpg" 
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
        </div>
        
        <div class="col-lg-4 mb-4 mb-lg-0 mt-5 opacity-50">
          <img src="../../../../assets/image/IMG_9265.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
          <img src="../../../../assets/image/IMG_9277.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
          
          <img src="../../../../assets/image/IMG_9277.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
        </div>
        
        <div class="col-lg-4 mb-4 mb-lg-0 mt-5 opacity-50">
          <img src="../../../../assets/image/IMG_9300.jpg" 
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
          <img src="../../../../assets/image/IMG_9300.jpg" 
          class="w-100 shadow-1-strong rounded mb-4"
          alt="">
          <img src="../../../../assets/image/IMG_9292.jpg"
          class="w-100 shadow-1-strong rounded mb-4" alt="">
        </div>
        
        
      </div>
    </div>
        <!-- Gallery -->
  
 
 

<!-- Gallery -->
        <!-- <div id="next">Next</div> -->
<!--      
  
      */<div id="img3"class="col-lg-2 col-md-4 mb-4">
       
         <img
          src="../../../../assets/image/IMG_9292.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
      
  
      <div id="img4"class="col-lg-2 col-md-4 mb-4">
        <img 
        src="../../../../assets/image/IMG_9277.jpg"
        class="w-100 shadow-1-strong rounded mb-4"
        alt="Waves at Sea"
      />
  
        <img 
          src="../../../../assets/image/IMG_9300.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Yosemite National Park"
        />
      </div>
     
      <div id="img2" class="col-lg-2 col-md-4 mb-4">
       
  
        <img 
          src="../../../../assets/image/IMG_9265.jpg"
          class="w-100 shadow-1-strong rounded mb-4"
          alt="Boat on Calm Water"
        />
      </div>
    -->
    

  