img{
    align-items: center;
    justify-content: center;
    opacity: 0.5;
}

span {
   
    justify-content: center;
    font-size: 30px;
    color: rgb(255, 255, 255);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    box-shadow: 12px 12px 12px 12px rgba(4, 4, 4, 0.378);
    resize: none;
    padding: 1rem;
    border-radius: 15%;
    z-index: 1;
}
#titre{
    font-size: 35px;
}
p{
    padding: 20px;
    text-underline-offset: 8px;
}
span{
align-self:center;
background: -webkit-linear-gradient(90deg, rgba(133, 131, 131, 0.79) 0%, rgba(105, 105, 104, 0.79) 50%, rgba(149, 143, 143, 0.79) 80%);
z-index: 1;
}