
<div class="card">
    <span  id="ObjPers" class="position-absolute text-center  " style="height: 700px; width: 1100px"> 
      <p id="titre" class="text-decoration-underline  "> Département Personalisation d'objet </p>
      <p>Notre service visuel d'entreprise offre des solutions créatives et professionnelles pour répondre à tous vos besoins en matière de communication visuelle. Que vous recherchiez des services de conception graphique, de photographie d'entreprise, de création de contenu visuel pour les médias sociaux ou de production vidéo, nous sommes là pour vous aider à donner vie à votre vision.</p>
      <p>Avec une équipe de professionnels passionnés par l'art visuel et la narration, nous travaillons en étroite collaboration avec vous pour créer des éléments visuels qui captent l'essence de votre entreprise et qui attirent votre public cible.</p>
      <p>Faites confiance à notre service visuel d'entreprise pour vous aider à communiquer efficacement et à marquer les esprits.</p>
      
   </span>
  
      <img  src="../../../../assets/image/personnaliser-des-objets-avec-le-logo-de-votre-entreprise.jpg" alt="" srcset="">
     
    </div>