
img{
  align-items: center;
  justify-content: center;
  opacity: 0.8;
}
span {
   
  justify-content: center;
  font-size: 30px;
  color: rgb(255, 255, 255);
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  box-shadow: 12px 12px 12px 12px rgba(18, 18, 18, 0.378);
  resize: none;
  padding: 2rem;
  border-radius: 10%;
  z-index: 1;
}
span{
  align-self:center;
  background: -webkit-linear-gradient(90deg, rgba(133, 131, 131, 0.341) 0%, rgba(105, 105, 104, 0.638) 50%, rgba(149, 143, 143, 0.73) 80%);

  z-index: 1;
  }
  p{
    padding: 20px;
    text-underline-offset: 8px;
    line-height: 2px;
}