
  
 
    
  <div id="Visu-des" class="card">
 
    <span id="text-des"  class="position-absolute text-center  " >
      <p id="titre" class="text-decoration-underline">Description</p>
      
      <p>Bienvenue sur le site de Tamaël Création, une entreprise fondée par Tanya Vanhoebroeck, une entrepreneure passionnée et polyvalente !</p>
      <p>Après plus de 10 années dans le secteur, Tanya a décidé de se réorienter professionnellement vers le développement web. </p>
      <p> C'est ainsi que l'idée de fonder Tamaël Création est née.</p>
      <p>Diplômée en publicité et en photographie, et avec une expérience significative dans ces domaines, </p>
      <p>Tanya a combiné ses compétences variées pour créer Tamaël Création, </p>
      <p>une entreprise polyvalente proposant des services de création de sites web, d'objets personnalisés et de photographie.</p>
      <p>Que vous ayez besoin d'un site web pour votre entreprise, </p>
      <p>d'objets personnalisés pour un événement spécial ou de services photographiques professionnels, </p>
      <p>Tamaël Création est là pour répondre à vos besoins avec professionnalisme et créativité.</p>
      <p>Avec son expertise en publicité, son engagement dans le développement web et sa passion pour la photographie,
      <p> Tanya comprend parfaitement les besoins de ses clients et s'engage à fournir des solutions visuelles de haute qualité.</p>
      <p>Explorez notre site pour découvrir nos services et notre portfolio. </p>
      <p>Nous sommes impatients de collaborer avec vous pour donner vie à vos idées et vous aider à atteindre vos objectifs professionnels.</p>
        
      </span>
    
      <img src="../../../../assets/image/gros-plan-oeil-circuit-imprime-oeil-bleu-orange_896648-63.avif" alt="">
        </div>
     
     
 
