  

    <nav id="navbar" class="navbar navbar-expand-lg position-fixed  top-0 z-3   ">
    <div class="container-fluid ">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarPillsExample" aria-controls="navbarExample" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand text-white  " href="#">
        <img [width]="100" class="  m-lg-5 rounded-5  " src="../../../../assets/image/Fondlogo.png" />
        Tamaël Création
      </a>
      <div class="collapse navbar-collapse" id="navbarPillsExample">
        <ul class="navbar-nav navbar-nav-pills">
          <li class="nav-item m-lg-5 ">
            <a class="nav-link text-white " href="des">Description</a>
          </li>
          <li class="nav-item m-lg-5 ">
            <a class="nav-link text-white " href="#">Team</a>
          </li>
          <li class="nav-item dropdown m-lg-5 ">
            <a class="nav-link dropdown-toggle text-white " href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Service proposé</a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#visu">Visuel Entreprise</a></li>
              <li><a class="dropdown-item" href="#Did">Photographie</a></li>
              <li><a class="dropdown-item" href="#des">Conception Site internet</a></li>
              <li><a class="dropdown-item" href="#ObjPers">Personnalisation d'objet</a></li>
              <li><hr class="dropdown-divider" /></li>
              <li><a class="dropdown-item" href="#">Formule</a></li>
            </ul>
          </li>
          <li id="contact" class="nav-item">
            <a class="nav-link text-white " href="#">Contact</a>
          </li>
         
        </ul>
      </div>
    </div>
  </nav>
