#des-photo{
  margin-left: 52.5vh;
  margin-top: 15vh;
}
#creaVis{
  margin-left: 10vh;
  margin-top: 50vh;
}
#span-pres{
  margin-left: 10vh;
  margin-top: 50vh;
}
#text-des{
  margin-left: 10vh;
  margin-top: 30vh;
}
#ObjPers{
  margin-left: 10vh;
  margin-top: 70vh;
}


// *{
//     margin: 0;
//     list-style: 0;
    
//   }
//   .slider{
//     overflow: hidden;
//     width: 100%;
//     height: 850px;
    
//     background-color: rgb(87, 83, 83);
//     z-index: 0;
  
  
//   }
//   figure{
//     width: 500%;
//     height: 200%;
//     position: relative;
//     top: 0;
//     left: 0;
//     margin: 0;
//     transition: all 10s linear;
//     animation: 10s slidy infinite ;
//   }

  
//   .slide{
//     width: 20%;
//     height: 100%;
//     float: left;
//     position: relative;
//     background-size: cover;

//   }
//   .slide img{
//     position: absolute;
//     top: 50px;
//     left: 0;
//     width: auto;
//     height: auto;
//   }
//   @keyframes slidy {
//     0%{
//       right:0;
//     }
//     10%{
//       right: -100%;
//     }
//     20%{
//       right: -200%;
//     }
//     30%{
//       right: -300%;
//     }
//     40%{
//       right: -400%;
//     }
//     50%{
//       right: -300%;
//     }
//     40%{
//       right: -200%;
//     }
//     30%{
//       right: -100%;
//     }
//    20%{
//     right: 0%;
//     }
//     10%{
//       right: 0%;
//     }

//   }
 

 

  
/* You can add global styles to this file, and also import other style files */
/*.card-body{
 
    background-image:url(assets/image/img-desc.png); 
    background-repeat: no-repeat; 
    background-position: center;
    background-size:100%;
    position: relative;
    opacity: 0,3;
    
    
    
   }*/
   
 
        
        
       /* //url('https://78.media.tumblr.com/cae86e76225a25b17332dfc9cf8b1121/tumblr_p7n8kqHMuD1uy4lhuo1_540.png'), 
        //url('https://78.media.tumblr.com/66445d34fe560351d474af69ef3f2fb0/tumblr_p7n908E1Jb1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/8cd0a12b7d9d5ba2c7d26f42c25de99f/tumblr_p7n8kqHMuD1uy4lhuo2_1280.png'),
        url('https://78.media.tumblr.com/5ecb41b654f4e8878f59445b948ede50/tumblr_p7n8on19cV1uy4lhuo1_1280.png'),
        url('https://78.media.tumblr.com/28bd9a2522fbf8981d680317ccbf4282/tumblr_p7n8kqHMuD1uy4lhuo3_1280.png');
        background-repeat: repeat-x;
        background-position: 
        0 20%,
        0 100%,
        0 50%,
        0 100%,
        0 0;
        background-size: 
        2500px,
        800px,
        500px 200px,
        1000px,
        400px 260px;
        animation: 50s para infinite linear;
    
    
    @keyframes para {
        100% {
            background-position: 
            -5000px 20%,
            -800px 95%,
            500px 50%,
            1000px 100%,
            400px 0;
        }
    }*/
